<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <p>break<span>io</span></p>
      </div>
      <ul class="nav-links">
        <li><a href="#get-better-everyday">Explore</a></li>
        <li><a href="#our-users">Solutions</a></li>
        <li><a href="#testimonials-cards">About</a></li>
        <li><a href="#faq">Blog</a></li>
        <li><a href="">Log In</a></li>
        <button class="start-btn">Start Now</button>
      </ul>
    </div>
    <div class="hero">
      <div class="hero-heading">
        <h1>It's time to take a break</h1>
        <p>
          Build your meditation skills with an app that gives you all you need!
        </p>
        <div class="start-now">
          <input class="name" type="text" placeholder="Enter your name" />
          <button class="hero-btn">Start Now</button>
        </div>
      </div>
      <div class="hero-image">
        <img src="../images/hero-image.jpeg" alt="" />
      </div>
    </div>

    <div class="get-better-everyday" id="get-better-everyday">
      <div class="gbe-heading">
        <h2>Get better everyday</h2>
        <p class="gbe-text">
          Et pulvinar nec interdum integer id urna molestie porta nullam. A,
          donec ornare sed turpis pulvinar purus maecenas quam a. Erat porttitor
          pharetra sed in mauris elementum sollicitudin.
        </p>
        <button>Start Now</button>
      </div>
      <div class="gbe-images">
        <div class="center-image">
          <img
            src="../images/Desktop.png"
            alt="Main left image"
            class="main-image-left"
          />
        </div>

        <div class="left-image">
          <div class="splash">
            <img src="../images/Rwanda.jpeg" alt="Splash image" />
            <div class="author-name">
              <p class="p1">Splash</p>
              <p class="p2">by Rwanda Melflor</p>
            </div>
          </div>
          <div class="colorful-face">
            <img src="../images/colorful.jpeg" alt="Colorful face image" />
            <div class="malvina-box">
              <img src="../images/Melvina.jpeg" alt="Author image Melvina" />
              <div class="author-name-2">
                <p class="p1">Colorful Face</p>
                <p class="p2">by Melvina Spring</p>
              </div>
            </div>
          </div>
        </div>

        <div class="right-image">
          <img
            src="../images/Mobile-App-Placeholder-1.png"
            alt="Mobile App Placeholder"
          />
        </div>
      </div>
    </div>
    <div class="our-users" id="our-users">
      <div class="our-users-heading">
        <h2>Stories from our users</h2>
        <p>
          Et pulvinar nec interdum integer id urna molestie porta nullam. A,
          donec ornare sed turpis pulvinar purus maecenas quam a. Erat porttitor
          pharetra sed in mauris elementum sollicitudin.
        </p>
      </div>
      <div class="our-users-gallery">
        <div class="our-users-card">
          <img class="image-gallery" src="../images/flowers.jpeg" alt="" />
          <div class="card-description">
            <img src="../images/melvina-flower.jpeg" alt="" />
            <div class="author-name-3">
              <p class="p1">Flower Decorations</p>
              <p class="p2">by Melvina Spring</p>
            </div>
          </div>
        </div>
        <div class="our-users-card">
          <img class="image-gallery" src="../images/hearts.jpeg" alt="" />
          <div class="card-description">
            <img src="../images/melvina-hearts.jpeg" alt="" />
            <div class="author-name-3">
              <p class="p1">Flower Decorations</p>
              <p class="p2">by Melvina Spring</p>
            </div>
          </div>
        </div>
        <div class="our-users-card">
          <img class="image-gallery" src="../images/splash1.jpeg" alt="" />
          <div class="card-description">
            <img src="../images/Rwanda.jpeg" alt="" />
            <div class="author-name-3">
              <p class="p1">Splash</p>
              <p class="p2">by Melvina Spring</p>
            </div>
          </div>
        </div>
        <div class="our-users-card">
          <img class="image-gallery" src="../images/colorful.jpeg" alt="" />
          <div class="card-description">
            <img src="../images/Melvina.jpeg" alt="" />
            <div class="author-name-3">
              <p class="p1">Colorful Face</p>
              <p class="p2">by Melvina Spring</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <img class="deco-left" src="../images/deco left.png" alt="" />
      <img class="deco-right" src="../images/deco right.png" alt="" />
      <div class="testimonials-heading">
        <h2>What other users say</h2>
      </div>
      <div class="testimonials-carousel">
        <div class="testimonials-cards">
          <div class="cards-heading">
            <h5>Placerat feugiat senectus</h5>
          </div>
          <div class="cards-description">
            <p>
              Ultricies pharetra arcu turpis dui massa interdum lorem. Viverra
              nunc quisque congue tincidunt potenti. Tellus, enim vel habitasse
              commodo ultrices aenean ultricies.
            </p>
          </div>
          <div class="cards-users">
            <img src="../images/melvina-flower.jpeg" alt="" />
            <p class="p1">Jane Doe</p>
            <p class="p2">Senior Designer</p>
          </div>
        </div>
        <div class="testimonials-cards" id="testimonials-cards">
          <div class="cards-heading">
            <h5>Placerat feugiat senectus</h5>
          </div>
          <div class="cards-description">
            <p>
              Ultricies pharetra arcu turpis dui massa interdum lorem. Viverra
              nunc quisque congue tincidunt potenti. Tellus, enim vel habitasse
              commodo ultrices aenean ultricies.
            </p>
          </div>
          <div class="cards-users">
            <img src="../images/melvina-flower.jpeg" alt="" />
            <p class="p1">Jane Doe</p>
            <p class="p2">Senior Designer</p>
          </div>
        </div>
      </div>
    </div>

    <div class="favourite-tools">
      <div class="favourite-tools-heading">
        <h2>Your favourite tools</h2>
        <p>
          In risus nec molestie at in pulvinar tellus. At integer id condimentum
          gravida nisi nisl. Sem vitae porttitor arcu congue sem erat et sit
          faucibus. Sollicitudin elit gravida tellus mattis porttitor.
        </p>
      </div>
      <div class="icons-container">
        <div class="cards-container">
          <img src="../images/Icon-1.png" alt="" />
          <h6>Sapien amet est</h6>
          <p>
            Viverra netus odio nunc ac nibh lorem iaculis. Orci facilisis
            habitasse cursus tempor et.
          </p>
        </div>
        <div class="cards-container">
          <img src="../images/Icon-2.png" alt="" />
          <h6>Tortor ornare</h6>
          <p>
            Nulla etiam mattis amet suspendisse lacus nulla sed urna ultricies.
          </p>
        </div>
        <div class="cards-container">
          <img src="../images/Icon-3.png" alt="" />
          <h6>Vel lacus</h6>
          <p>
            Porttitor quis lectus varius quis dolor morbi massa pellentesque.
          </p>
        </div>
      </div>
      <div class="icons-container-2">
        <div class="cards-container">
          <img src="../images/Icon-4.png" alt="" />
          <h6>Hendrerit blandit</h6>
          <p>A aliquam pharetra in nec vitae ultrices commodo placerat eget.</p>
        </div>
        <div class="cards-container">
          <img src="../images/Icon-5.png" alt="" />
          <h6>Enim risus turpis</h6>
          <p>
            Tristique dui vestibulum senectus ac duis etiam adipiscing sapien.
          </p>
        </div>
        <div class="cards-container">
          <img src="../images/Icon-6.png" alt="" />
          <h6>Aliquam lorem et</h6>
          <p>
            Suspendisse ultrices morbi iaculis sit lorem. Mauris nulla odio est
            a mi a sed gravida.
          </p>
        </div>
      </div>
      <div class="icons-container-3">
        <div class="cards-container">
          <img src="../images/Icon-7.png" alt="" />
          <h6>Sed aliquam lectus</h6>
          <p>
            Rhoncus ut montes quis eget vulputate. Id hac consectetur ornare
            neque.
          </p>
        </div>
        <div class="cards-container">
          <img src="../images/Icon-8.png" alt="" />
          <h6>Cursus diam</h6>
          <p>
            Feugiat consectetur eu commodo odio venenatis pretium libero.
            Volutpat ultricies nisl turpis id.
          </p>
        </div>
        <div class="cards-container">
          <img src="../images/Icon-9.png" alt="" />
          <h6>Facilisi vel malesuada</h6>
          <p>
            Nibh cursus ultricies id neque proin urna vivamus bibendum. Quam sit
            platea integer sit.
          </p>
        </div>
      </div>
    </div>

    <div class="faq" id="faq">
      <div class="faq-heading">
        <h2>Frequently asked questions</h2>
        <p>
          Et pulvinar nec interdum integer id urna molestie porta nullam. A,
          donec ornare sed turpis pulvinar purus maecenas quam a. Erat porttitor
          pharetra sed in mauris elementum sollicitudin.
        </p>
      </div>
      <div class="faq-list">
        <div class="faq-list-content">
          <p>
            Enim sodales consequat adipiscing facilisis massa venenatis, non
            lorem lobortis?
          </p>
          <img src="../images/chevron-down.png" alt="" />
        </div>
        <div class="faq-list-content">
          <p>
            Venenatis nulla sagittis nunc, lobortis nec sollicitudin neque,
            dolor?
          </p>
          <img src="../images/chevron-down.png" alt="" />
        </div>
        <div class="faq-list-content">
          <p>
            Varius ultricies molestie tellus fermentum, viverra ipsum
            scelerisque etiam lorem?
          </p>
          <img src="../images/chevron-down.png" alt="" />
        </div>
        <div class="faq-list-content">
          <p>
            Nulla etiam vitae, at sagittis, nibh ultrices mattis feugiat
            faucibus?
          </p>
          <img src="../images/chevron-down.png" alt="" />
        </div>
        <div class="faq-list-content">
          <p>
            Sagittis consectetur gravida nec turpis eros, id sit et, dictum?
          </p>
          <img src="../images/chevron-down.png" alt="" />
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-container">
        <div class="footer-links">
          <h3>Categories</h3>
          <ul>
            <li>User Interface</li>
            <li>User Experience</li>
            <li>Digital Media</li>
            <li>Lifestyle</li>
            <li>Programming</li>
            <li>Animation</li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Product</h3>
          <ul>
            <li>Pricing</li>
            <li>Overview</li>
            <li>Browse</li>
            <li>Accessibility</li>
            <li>Five</li>
            <li>Changelog</li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Solutions</h3>
          <ul>
            <li>Brainstorming</li>
            <li>Ideation</li>
            <li>Wireframing</li>
            <li>Research</li>
            <li>Design</li>
            <li>Concept</li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Resources</h3>
          <ul>
            <li>Help Center</li>
            <li>Blog</li>
            <li>Tutorials</li>
            <li>FAQs</li>
            <li>Community</li>
            <li>Events</li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Support</h3>
          <ul>
            <li>Contact Us</li>
            <li>Developers</li>
            <li>Documentation</li>
            <li>Integrations</li>
            <li>Reports</li>
            <li>Webinar</li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Company</h3>
          <ul>
            <li>About</li>
            <li>Press</li>
            <li>Events</li>
            <li>Careers</li>
            <li>Customers</li>
            <li>Partners</li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>breakio<span> @ 2023 - All rights reserved</span></p>
        <div class="footer-bottom-social">
          <img src="../images/youtube.png" alt="" />
          <img src="../images/facebook.png" alt="" />
          <img src="../images/twitter.png" alt="" />
          <img src="../images/instagram.png" alt="" />
          <img src="../images/linkedin.png" alt="" />
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    ></script>

    <script>
      $(document).ready(function () {
        $(".our-users-gallery").slick({
          prevArrow:
            '<button type="button" class="slick-prev custom-arrow"></button>',
          nextArrow:
            '<button type="button" class="slick-next custom-arrow"></button>',
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true,
                dots: true,
              },
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
              },
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
              },
            },
          ],
        });

        $(".testimonials-carousel").slick({
          prevArrow:
            '<button type="button" class="slick-prev custom-arrow"></button>',
          nextArrow:
            '<button type="button" class="slick-next custom-arrow"></button>',
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          autoplay: true,
          autoplaySpeed: 3000,
          adaptiveHeight: true,

          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true,
                dots: true,
              },
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
              },
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
              },
            },
          ],
        });
      });
    </script>
  </body>
</html>
